.2_1406 { 
	overflow:hidden;
}.e2_1406 { 
	background-color:rgba(54.00000058114529, 55.00000052154064, 64.00000378489494, 1);
	width:1440px;
	height:1100px;
	position:absolute;
}.e2_1407 { 
	background-color:rgba(247.00000047683716, 248.0000004172325, 252.00000017881393, 1);
	width:1185px;
	height:1100px;
	position:absolute;
	left:255px;
	top:0px;
}.e2_1408 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:323px;
	top:128px;
}.e2_1409 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1410 { 
	background-color:rgba(255, 255, 255, 1);
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.2_1410 { 
	border:1px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1412 { 
	color:rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
	width:345.7665100097656px;
	height:24px;
	position:absolute;
	left:45.198238372802734px;
	top:15px;
	font-family:Mulish;
	text-align:left;
	font-size:19px;
	letter-spacing:0.4000000059604645;
}.e2_1494 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:323px;
	top:400px;
}.e2_1495 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1496 { 
	background-color:rgba(255, 255, 255, 1);
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.2_1496 { 
	border:1px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1497 { 
	color:rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
	width:345.7665100097656px;
	height:24px;
	position:absolute;
	left:45.198238372802734px;
	top:15px;
	font-family:Mulish;
	text-align:left;
	font-size:19px;
	letter-spacing:0.4000000059604645;
}.e2_1498 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:323px;
	top:694px;
}.e2_1499 { 
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1500 { 
	background-color:rgba(255, 255, 255, 1);
	width:1026px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.2_1500 { 
	border:1px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1501 { 
	color:rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
	width:345.7665100097656px;
	height:24px;
	position:absolute;
	left:45.198238372802734px;
	top:15px;
	font-family:Mulish;
	text-align:left;
	font-size:19px;
	letter-spacing:0.4000000059604645;
}.e2_1437 { 
	background-color:rgba(54.00000058114529, 55.00000052154064, 64.00000378489494, 1);
	width:255px;
	height:608px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1438 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	opacity:0.699999988079071;
	width:86px;
	height:24px;
	position:absolute;
	left:76px;
	top:41px;
	font-family:Mulish;
	text-align:left;
	font-size:19px;
	letter-spacing:0.4000000059604645;
}.e2_1439 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:128px;
}.e2_1440 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1441 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1442 { 
	background-color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:16.000051498413086px;
	height:15.058629035949707px;
	position:absolute;
	left:-0.00006500692688859999px;
	top:0.47070133686065674px;
}.e2_1443 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:184px;
}.e2_1444 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1445 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1446 { 
	background-color:rgba(159.0000057220459, 162.00000554323196, 180.00000447034836, 1);
	opacity:0.4000000059604645;
	width:16px;
	height:10.666666030883789px;
	position:absolute;
	left:0px;
	top:2.666667938232422px;
}.e2_1447 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:56px;
}.e2_1448 { 
	color:rgba(221.00000202655792, 226.0000017285347, 255, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1449 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1450 { 
	background-color:rgba(221.00000202655792, 226.0000017285347, 255, 1);
	opacity:0.4000000059604645;
	width:16px;
	height:11.200000762939453px;
	position:absolute;
	left:0px;
	top:2.4000000953674316px;
}.e2_1453 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:298px;
}.e2_1454 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1455 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1456 { 
	background-color:rgba(159.0000057220459, 162.00000554323196, 180.00000447034836, 1);
	opacity:0.4000000059604645;
	width:14px;
	height:16px;
	position:absolute;
	left:1px;
	top:0px;
}.e2_1452 { 
	background-color:rgba(159.0000057220459, 162.00000554323196, 180.00000447034836, 1);
	opacity:0.07999999821186066;
	width:254.99998474121094px;
	height:56px;
	position:absolute;
	left:1px;
	top:0px;
}.e2_1451 { 
	background-color:rgba(221.00000202655792, 226.0000017285347, 255, 1);
	width:3px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1502 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:354px;
}.e2_1503 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1506 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:18px;
}.ei2_1506_5380_5064 { 
	background-color:rgba(166.00000530481339, 164.00000542402267, 179.000004529953, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}.e2_1457 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:462px;
}.e2_1458 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1459 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1460 { 
	background-color:rgba(159.0000057220459, 162.00000554323196, 180.00000447034836, 1);
	opacity:0.4000000059604645;
	width:14.83814525604248px;
	height:15.500059127807617px;
	position:absolute;
	left:0.5826194286346436px;
	top:0.2530393600463867px;
}.e2_1461 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:518px;
}.e2_1462 { 
	color:rgba(164.00000542402267, 166.00000530481339, 179.000004529953, 1);
	width:159px;
	height:18px;
	position:absolute;
	left:72px;
	top:18px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}.e2_1463 { 
	width:16px;
	height:16px;
	position:absolute;
	left:32px;
	top:20px;
}.e2_1464 { 
	width:24px;
	height:24px;
	position:absolute;
	left:-4px;
	top:-4px;
}.ei2_1464_1393_54 { 
	background-color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:20.000198364257812px;
	height:20.000078201293945px;
	position:absolute;
	left:1.999900221824646px;
	top:2px;
}.e2_1465 { 
	opacity:0.05999999865889549;
	width:255px;
	height:0px;
	position:absolute;
	left:0px;
	top:433px;
}.2_1466 { 
	border:1px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1466 { 
	width:255px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1467 { 
	width:32px;
	height:32px;
	position:absolute;
	left:32px;
	top:37px;
}.e2_1468 { 
	border-radius:500px;
	background-color:rgba(55.00000052154064, 81.00000277161598, 255, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1469 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.699999988079071) 0%,rgba(255, 255, 255, 1) 100%) ;
	width:12px;
	height:14px;
	position:absolute;
	left:11px;
	top:9px;
	border-radius:Symbol(figma.mixed)px;
}.e2_1470 { 
	width:1122px;
	height:42px;
	position:absolute;
	left:285px;
	top:27px;
}.e2_1471 { 
	width:44px;
	height:44px;
	position:absolute;
	left:1078px;
	top:-1px;
}.e2_1472 { 
	width:40px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
}.2_1473 { 
	overflow:hidden;
}.e2_1473 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_1474 { 
	width:69px;
	height:49.6666259765625px;
	position:absolute;
	left:-15px;
	top:0px;
	background-image:url(images/m_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_1475 { 
	border-radius:500px;
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.2_1475 { 
	border:1.5px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1476 { 
	color:rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
	width:109px;
	height:18px;
	position:absolute;
	left:955px;
	top:12px;
	font-family:Mulish;
	text-align:right;
	font-size:14px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}.e2_1477 { 
	position:absolute;
	left:923px;
	top:9px;
}.2_1478 { 
	border:1px solid rgba(223.00000190734863, 224.000001847744, 235.0000011920929, 1);
}.e2_1478 { 
	position:absolute;
	left:0px;
	top:0px;
}.e2_1479 { 
	width:16px;
	height:16px;
	position:absolute;
	left:875px;
	top:13px;
}.e2_1480 { 
	background-color:rgba(197.0000034570694, 199.0000033378601, 205.00000298023224, 1);
	width:14.000042915344238px;
	height:16px;
	position:absolute;
	left:0.9999787211418152px;
	top:0px;
}.e2_1481 { 
	border-radius:500px;
	background-color:rgba(55.00000052154064, 81.00000277161598, 255, 1);
	width:6px;
	height:6px;
	position:absolute;
	left:10px;
	top:-1px;
}.2_1481 { 
	border:1.5px solid rgba(247.00000047683716, 248.0000004172325, 252.00000017881393, 1);
}.e2_1484 { 
	color:rgba(37.00000159442425, 39.00000147521496, 51.00000075995922, 1);
	width:771px;
	height:34px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Mulish;
	text-align:left;
	font-size:24px;
	letter-spacing:0.30000001192092896;
}